body {
  margin: 0;
  overflow: hidden;
  user-select: none;
}
canvas {
  display: block;
}

#health-hub {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: white;
  padding: 5px;
  border-radius: 5px;
}

#game-hub {
  position: absolute;
  top: 10px;
  left: 10px;
  background-color: white;
  padding: 5px;
  border-radius: 5px;
}

.buy-container {
  display: flex;
  gap: 15px;
}

#buy-tower {
  border: 1px solid black;
  height: 50px;
  width: 50px;
  border-radius: 5px;
  background-color: white;
}

#buy-tower:hover {
  cursor: pointer;
  transform: scale(1.1);
}

#buy-tower:active {
  transform: scale(1.1);
  background-color: rgb(177, 95, 95);
  color: white;
}
#buy-tower.selected {
  background-color: rgb(177, 95, 95);
  color: white;
}

.modal {
  position: absolute;
  z-index: 1000;
  background-color: white;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.start-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.start-container button {
  padding: 6px 25px;
  background-color: white;
  font-size: 20px;
  border-radius: 10px;
}

.start-container button:hover {
  background-color: rgb(230, 230, 230);
  cursor: pointer;
}

.start-container button:active {
  background-color: rgb(187, 181, 181);
}

#end-modal {
  display: none;
}

#timer {
  position: absolute;
  top: 0;
  background-color: white;
  padding: 10px;
  right: 50%;
  transform: translateX(-50%);
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.levels-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.level-display {
  border: 1px solid black;
  border-radius: 5px;
  height: 28px;
  width: 28px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.level-display:hover {
  cursor: pointer;
  background-color: rgb(199, 206, 212);
}

.level-display:active {
  background-color: rgb(151, 155, 158);
}

#win-modal {
  display: none;
}
